
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 36px;
}

/* ----------------------------------------- Descrição ----------------------------------------- */

.project-description {
    padding: 0;
    height: 100%;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 50px;
    background-color: #FFFFFF;
}

.project-description h2 {
    font-size: 24px;
}

.project-description .conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.project-description .img {
    width: 40%; 
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    transition: all 1.1s;
    overflow: hidden;
}

.project-description .img img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 1.1s;
}

.project-description .img:hover img{
    transform: scale(1.05); 
}

.project-description p {
    flex: 1; 
    text-align: justify;
    font-size: 14px;
    line-height: 1.5;
}


/* ----------------------------------------- Mídia ----------------------------------------- */

.project-media {
    padding: 20px 0;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 50px;
  /*  background-color: #E0E0E0; */
}

.image-gallery{
    padding: 0;
    height: 100%;
    max-height: 100vh;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
  }

  swiper-slide img {
    display: block;
    width: 100%;
  }

.video {
    width: 100%;
    max-width: 100vw ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video h2{
    width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: flex-start;
}

iframe{
    width: 14%;
    max-width: 100vw ;
    text-align: center;
}


/* ----------------------------------------- Detalhes ----------------------------------------- */

.project-details {
    padding: 20px 0;
   /* background-color: #FFFFFF; */
}

.project-details h2 {
    font-size: 24px;
    display: none;
}

.project-details ul {
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.project-details ul li ul{
    margin: 30px auto;
}

.project-details ul li ul{
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
}

.project-details ul li ul li{ 
    padding:20px;
    border-right: 1px solid #D3D3D3;
}

.project-details ul li ul li:hover{ 
    background-color: cadetblue;
    border-right: 0px
}

.project-details li {
    margin-bottom: 20px;
}

/* ----------------------------------------- Rodapé ----------------------------------------- */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.btn-acesso-projeto {
    text-decoration: none;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-acesso-projeto:hover {
    background-color: #ff3300;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------- Responsivo 480px ---------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

@media (max-width: 480px) {

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100vw; 
        overflow-x: hidden; 
    }

    *{  
        width: 100%;
        max-width: 100vw;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .container{
        width: 100%;
        max-width: 100vh;
        padding: 0;
    }

    h1{
        width: 100%;
        max-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 22px;
    }

    h2{
        width: 100%;
        max-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 22px;
    }
   
    header h1{
        font-size: 22px;
        padding: 10px;
    }

/* ----------------------------------------- Descrição ----------------------------------------- */

    .project-description {
        width: 100%;
        max-width: 100vw;
    }

    .project-description h1{
        margin: 20px 0 0 20px;
        align-items: flex-start;
        justify-content: flex-start;
        left: 0;
    }

    .project-description .conteudo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        order: 1;
    }

    .project-description .img {
        width: 90%;
        max-width: 100vw;
        position: relative;
        margin-top: 20px
    }

    .project-description p {
        width: 85%;
        max-width: 100vw;
        order: 3;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
    }

/* ----------------------------------------- Mídia ----------------------------------------- */

    .project-media {
        width: 100%;
        max-width: 100vw;
    }

    .project-media .confect{
        left: 0;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        left: -20px;
    }

    .image-gallery{
        padding: 0;
        height: 100%;
        max-height: 100vh;
    }
    
    .image-gallery img {
        max-width: 90%;
        height: auto;
        margin-bottom: 10px;
    }

    swiper-slide {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: auto;
        margin-left: 25px;
      }

    iframe{
        margin-top: 20px;
        width: 90%;
        max-width: 100vw ;
        text-align: center;
        position: relative;
    }

/* ----------------------------------------- Detalhes ----------------------------------------- */

    .project-details {
        width: 100%;
        max-width: 100vw;
    }

    .project-details ul li ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 100vw;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


}