/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 36px;
}

/* Estilos da seção de descrição do projeto */
.project-description {
    padding: 20px 0;
}

.project-description h2 {
    font-size: 24px;
}

.project-description p {
    line-height: 1.5;
}

/* Estilos da seção de mídia do projeto */
.project-media {
    padding: 20px 0;
}

.image-gallery img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.video {
    text-align: center;
}

/* Estilos da seção de detalhes do projeto */
.project-details {
    padding: 20px 0;
}

.project-details h2 {
    font-size: 24px;
}

.project-details ul {
    list-style: none;
    padding: 0;
}

.project-details li {
    margin-bottom: 10px;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.btn-acesso-projeto {
    text-decoration: none;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-acesso-projeto:hover {
    background-color: #ff3300;
}
